/* Título de encabezado */

/* imagen logo */
body {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
} 

h1 {
	font-size: 120%;
	text-align: center; 
	float: center;
	/*margin: 20px*/
}

h4 {
	/*margin-top: 40px;
	margin-left: 10px;*/
position: relative;
    right;
}

a {
/*	float: none;*/
	color: red;
	text-align: right; 
}



