h1{
	text-align: center;
}

/*Logout*/
a#log{
	text-align: center;
	  display:inline;
    float:right;
}

footer{
        text-align: right;
        font-size: 70%;
}

#contenedor{  
      /*  background-color:#F4ABF2;  */
        border:1px solid #FF0000;  
}  
#cabecera{  
        background-color:#E5BC7A;  
        height:20%;  
}  
#menu{  
        height:10%;  
        background-color:#C8CACC;  
}  
#izquierda{  
        height:50%;  
        background-color:#BDD2EF;  
        float:left;  
        width:50%;  
}  
#derecha{  
        height:50%;  
        background-color:#DAF7E2;  
        float:right;  
        width:50%;  
}  
#pie{  
        height:20%;  
        text-align: right;
        font-size: 70%;
        clear:both;  
}  
