/* Título de encabezado */

h1 {
	text-align: center; 
/*	float: center; */
	margin: 20px;
	
    font-size: 90%;
}

logout{
	position: relative;
    right;

}

h4 {
	font-size: 90%;
	margin-top: 40px;
	margin-left: 10px;

}



