body {font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;}


.formulario h1, .formulario label {font-family: Verdana,Arial,Sans; font-size: 13px }
.form_hint, .textoChico {font-size: 11px;}

.formulario ul {
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.formulario li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}
/* Línea de separación */
.formulario li:first-child, .formulario:last-child {
    border-bottom:1px solid #777;
}

.formulario h2 {
    margin:0;
    display: inline;
    
}
.textoChico {
    margin:0px 0 0 0;
    display:inline;
    float:right;
}
.formulario label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.formulario input {
    height:20px;
    width:220px;
    padding:5px 8px;
}
.formulario textarea {padding:8px; width:300px;}
.formulario button {margin-left:156px;}

.formulario input{
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}

.obligatorios{
	margin:0px 0 0 0;
    display:inline;
    float:right;
    font-size: 12px;
    color: red;
    

}



