body {font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	  background-color:#DDDDDD}


h1{
	text-align: center;
}

#contenedor{  
        background-color:#F4ABF2;  
        border:1px solid #FF0000;  
}  
#cabecera{  
        background-color:#FFFFFF;  
        height:100px;  
}  
#menu{  
        height:80%;  
        background-color:#C8CACC;  
}  
#izquierda{  
        height:20%;  
        background-color:#BDD2EF;  
        float:left;  
        width:20%;  
}  
#derecha{  
        height:80%;  
        background-color:#DAF7E2;  
        float:left;  
        width:80%;  
}  
#pie{  
        height:20%;  
        background-color:#D3FFC1;  
        clear:both;  
		text-align: center;
}  
