ul.egmenu {  
	background: #2175bc;
	
 /*   height: 30px;
	position: relative; 
    width: 90%; */
}

ul.egmenu > li { 
    float: left;
    position: relative;
    
}

ul.egmenu ul {
    background: #2175bc; 
    display: none; 
    position: absolute;
    left: 0; top: 100%;
}

ul.egmenu a {
	text-decoration: none;
    font-family: Arial;
	font-size:12px;
	cursor: pointer; 
    display: block; 
    color: white; 
    line-height: 30px;
    padding: 0 10px; 
}

ul.egmenu li { list-style: none; }

ul.egmenu li:hover { background: #2586d7;  }
ul.egmenu li:hover ul { display: block;  }



@media all and (min-width: 481px) {
    ul.egmenu li:hover { background: #2586d7;  }
    ul.egmenu li:hover ul { display: block;  }
}

/* Pantalla moviles */

@media all and (max-width: 480px) {
    ul.egmenu {  height: auto; }
    ul.egmenu > li {  float: none; width: 100%; }
    ul.egmenu a { line-height: 32px; }
    ul.egmenu ul { position: relative; }
}

@media all and (max-width: 480px) {
    ul.egmenu {  height: auto; }
    ul.egmenu > li {  float: none; width: 100%; }
    ul.egmenu a { line-height: 32px; }
    ul.egmenu ul { position: relative; }

    ul.egmenu li.tap { background: #2175bc;  }
    ul.egmenu li.tap ul { display: block;  }
}
