h1{
	text-align: center;
}

/*Logout*/
a#log{
	text-align: center;
	  display:inline;
    float:right;
}

footer{
        text-align: right;
        font-size: 70%;
}

#contenedor{  
    
}  
#cabecera{  
		height:20%;  
}  
#menu{  
        height:10%;  
        background-color:#C8CACC;  
}  
#izquierda{  
        height:90%;  
        background-color:#BDD2EF;  
        float:left;  
        width:20%;  
}  
#derecha{  
        height:90%;  
        background-color:#DAF7E2;  
        float:right;  
        width:80%;  
}  
#pie{  
        height:20%;  
        text-align: right;
        font-size: 70%;
        clear:both;  
}  
