body {font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	  background-color: #DDDDDD}


.formulario h1, .formulario label {font-family: Verdana,Arial,Sans; font-size: 11px }
.form_hint, .textoChico {font-size: 10px;}

.formulario ul {
    width:320px;
    list-style-type:none;
    /*list-style-position:outside;*/
    margin:0px;
    padding:0px;
}
.formulario li{
    padding:2px;
    border-bottom:1px solid #eee;
    position:relative;
}


.formulario h2 {
    margin:0;
   /* display: inline;*/
    
}
.textoChico {
width:70px;
/*    margin:10px 0 0 0;*/
    display:block;
    float:none;
    padding:5px;
    border-bottom:1px solid #eee;
    /*position:relative;*/
}
.formulario label {
    
    margin-top: 2px;
  /* display:inline-block;*/
    float:none;
  /*  display:block;*/
    padding:3px;
}
.formulario input {
    height:15px;
    width:180px;
    padding:5px 8px;
    display:block;
}

.formulario textarea {padding:8px; width:180px;}
.formulario button {margin-left:156px;}

.formulario input{
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}

.obligatorios{
	margin:0px 0 0 0;
    display:inline;
    float:none;
    font-size: 12px;
    color: red;
   

}

.button{
	margin: 2px 0 0 0;
}



