{% extends "backend.twig.html" %}

{% block contenido %}

<table class="reference" style="width:100%">
		<tbody>
			<tr>
				<th>Descripción</th>
				<th>Fec. de Venc.</th>
				<th>Contenido</th>
				<th>Peso</th>
				<th>Stock</th>
				<th>Reservado</th>
				<th>Donante</th>
				<th></th>
				<th><a href="./backend.php?accion=altaAlimento">
							<img src="./img/mas.png" alt="Agregar alimento" title="Agregar alimento"></a></th>
			</tr>

		{% for alimento in alimentos %}
			<tr>
			       	<td>{{ alimento.descripcion }}</td>
		        	<td>{{ alimento.fecha_vencimiento }}</td>
		        	<td>{{ alimento.contenido }}</td>
		        	<td>{{ alimento.peso_paquete }}</td>
		        	<td>{{ alimento.stock }}</td>
		        	<td>{{ alimento.reservado }}</td>
					<td>{{ alimento.razon_social }}</td>
		        	<td> <a href="./backend.php?accion=modificarAlimento&amp;id={{alimento.id}}">
							<img src="./img/lapiz.jpg" alt="Modificar alimento" title="Modificar alimento"></a></td>
		        	<td> <a href="./backend.php?accion=bajaAlimento&amp;id={{alimento.id}}">
							<img src="./img/cruz.png" alt="Borrar alimento" title="Borrar alimento"></a></td>
			</tr>
			
		{% endfor %}

		</tbody>
</table>

{% endblock %}
