{% extends "backend.twig.html" %}

{% block contenido %}

<a href="./backend.php?accion=altaDonante">
							<img src="./img/mas.png" alt="boton mas"></a>

<table class="reference" style="width:100%">
		<tbody>
			<tr>
				<th>Razón Social</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Domicilio</th>
				<th>Teléfono</th>
				<th>E-mail</th>
			</tr>
		{% for donante in donantes %}
			<tr>
			       	<td>{{ donante.razon_social }}</td>
		        	<td>{{ donante.nombre }}</td>
		        	<td>{{ donante.apellido }}</td>
		        	<td>{{ donante.domicilio }}</td>
		        	<td>{{ donante.telefono }}</td>
		        	<td>{{ donante.mail }}</td>
		        	<td> <a href="./backend.php?accion=modificarDonante&id={{donante.id}}">
							<img src="./img/lapiz.jpg" alt="lapiz"></a></td>
		        	<td><a href="javascript: if (confirm('Confirmar la eliminación?'))
							{ window.location.href='./backend.php?accion=bajaDonante&id={{donante.id}}' } else { void('') };"> 
						<img src="./img/cruz.png" alt="crucecita"></a></td>
			</tr>
		{% endfor %}
		</tbody>
</table>

 
{% endblock %}
