{% extends "backend.twig.html" %}

{% block contenido %}

<table class="reference" style="width:100%">
		<tbody>
			<tr>
				<th>Razón Social</th>
				<th>Teléfono</th>
				<th>Domicilio</th>
				<th>Estado</th>
				<th>Necesidad</th>
				<th>Servicio Prestado</th>
				<th></th>
				<th><a href="./backend.php?accion=altaEntidad">
							<img src="./img/mas.png" alt="Agregar entidad" title="Agregar entidad"></a>
</th>
			</tr>
		{% for entidad in entidades %}
			<tr>
			       	<td>{{ entidad.razon_social }}</td>
		        	<td>{{ entidad.telefono }}</td>
		        	<td>{{ entidad.domicilio }}</td>
		        	<td>{{ entidad.estado }}</td>
		        	<td>{{ entidad.necesidad }}</td>
		        	<td>{{ entidad.servicio }}</td>
		        	<td> <a href="./backend.php?accion=modificarEntidad&amp;id={{entidad.id}}">
							<img src="./img/lapiz.jpg" alt="modificar entidad" title="Modificar entidad"></a></td>
		        	<td><a href="javascript: if (confirm('Confirmar la eliminación?'))
							{ window.location.href='./backend.php?accion=bajaEntidad&amp;id={{entidad.id}}' } else { void('') };"> 
						<img src="./img/cruz.png" alt="Borrar entidad" title="Borrar entidad"></a></td>
			</tr>
		{% endfor %}
		</tbody>
</table>

 
{% endblock %}
