{% extends "backend.twig.html" %}

{% block contenido %}


<table class="reference" style="width:100%">
		<tbody>
			<tr>
				<th>Id</th>
				<th>Nombre de usuario</th>
				<th>Rol</th>
				<th></th>
				<th><a href="./backend.php?accion=altaUsuario">
							<img src="./img/mas.png" alt="Agregar Usuario" title="Agregar Usuario"></a>
</th>
			</tr>
		{% for user in users %}
			<tr>
			       	<td>{{ user.id }}</td>
		        	<td>{{ user.nombre }}</td>
		        	<td>{{ user.nombreRol }}</td>
		        	<td> <a href="./backend.php?accion=modificarUsuario&amp;id={{user.id}}">
							<img src="./img/lapiz.jpg" alt="modificar usuario" title="Modificar usuario"></a></td>
		        	<td><a href="javascript: if (confirm('Confirmar la eliminación?'))
							{ window.location.href='./backend.php?accion=borrarUsuario&amp;id={{user.id}}' } else { void('') };"> 
						<img src="./img/cruz.png" alt="Borrar usuario" title="Borrar usuario"></a></td>
			</tr>
		{% endfor %}
		</tbody>
</table>

	<div id="err1" class="modalDialog">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<h2>Error</h2>
			<p>No puede eliminarse usted mismo.</p>
			
			
			
			
		</div>
	</div>
	
	<div id="err2" class="modalDialog">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			<h2>Error</h2>
			<p>El usuario ya existe.</p>
			
			
			
			
		</div>
	</div>

 
{% endblock %}
