{% extends "layoutBackUser.twig.html" %}

{% block contenido %}

<div class="table-responsive">
<table class="table table-condensed" style="width:100%">

		<tbody>
			<tr class="encabezado">
				<th>Descripción</th>
				<th>Fec. de Venc.</th>
				<th>Contenido</th>
				<th>Peso</th>
				<th>Stock</th>
				<th>Reservado</th>
			</tr>

		{% for alimento in alimentos %}
			<tr>
			       	<td>{{ alimento.descripcion }}</td>
		        	<td>{{ alimento.fecha_vencimiento }}</td>
		        	<td>{{ alimento.contenido }}</td>
		        	<td>{{ alimento.peso_paquete }}</td>
		        	<td>{{ alimento.stock }}</td>
		        	<td>{{ alimento.reservado }}</td>
			</tr>
			
		{% endfor %}

		</tbody>
</table>
</div>
{% endblock %}
