{% extends "layoutBack.twig.html" %}

{% block botonera %}
							<li><a href="./backend.php">Home</a></li>
							<li><a href="./backend.php?accion=listarDonantes">Administración de Donantes</a></li>
							<li><a href="./backend.php?accion=listarEntidades">Administración de Entidades Receptoras</a></li>
							<li><a href="./backend.php?accion=listarAlimentos">Administración de Alimentos</a></li>
							<li><a href="./backend.php?accion=users">Usuarios</a></li>
							<li><a href="../app/logout.php">Logout</a></li>
{% endblock %}
