{% extends "layoutBackUser.twig.html" %}

{% block contenido %}
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="./js/recorrido.js"></script>
<style>
	#climax{float: left;}
	.climax{margin-left: 4em;}
</style>

    <h3>Envío para: <a href="./backend.php?accion=actualizarPedido&nro={{ pedido.numero }}">Pedido {{ pedido.numero }}</a></h3>
    <div>
		
				
		<p>Entidad receptora:
			{% if (usuario.rol=="administrador") %}
			<a href="backend.php?accion=modificarEntidad&id={{ entidad.id }}">{{ entidad.razon_social }}</a> </p>
			{% elseif (usuario.rol=="gestion") %}
				{{ entidad.razon_social }} </p>
			{% endif %}	
			
		<p>Fecha de envío: {{ pedido.fecha }} </p>
		<p>Hora: {{ pedido.hora|date('H:i') }} </p>
		<!-- <input type="text" name="dias" value="{{ pedido.entidad }}" title="Cantidad de días límite de vencimiento del stock" required/> -->
		
		
		{% if clima.error %}
			
			<p style="color:red">{{clima.error}}</p>
		{% else %}
			
			<p><strong>Pronóstico del clima: </strong>{{clima.descripcion}} | {{clima.temp |number_format(0, ',', '.') }} ºC</p>
			<img id="climax" src="{{clima.url}}" />
			<p class="climax"><strong>Ciudad: </strong>{{clima.ciudad}}</p>
			<p class="climax"><strong>Máxima: </strong>{{clima.tempMax |number_format(1, ',', '.')}}ºC</p>
			<p class="climax"><strong>Mínima: </strong>{{clima.tempMin |number_format(1, ',', '.')}}ºC</p>
			<p class="climax"> <strong>Presión: </strong>{{clima.presion |number_format(2, ',', '.')}} hPa</p>
			<p class="climax"> <strong>Humedad: </strong>{{clima.humedad |number_format(1, ',', '.') }}%</p>
		
			
			
		{% endif %}
		
    </div>
        <input type="text" name="lat" id="latitud" value="{{ entidad.latitud }}" readonly="readonly" hidden >
        <input type="text" name="lon" id="longitud" value="{{ entidad.longitud }}" readonly="readonly" hidden >
        <input type="text" name="lat2" id="latitud2" value="{{ latitud }}" readonly="readonly" hidden >
        <input type="text" name="lon2" id="longitud2" value="{{ longitud }}" readonly="readonly" hidden >
	<div id="map-canvas" style="height:400px"></div>

	<script>
		calcularRecorrido();
	</script>

{% endblock %}
