{% extends "layoutBackUser.twig.html" %}

{% block contenido %}



<h4>Seleccione el rango de fechas para obtener el informe</h4>
<form method="POST" action="./backend.php?accion=informePorER">
	<label for="from">Fecha desde:</label>
	<input type="text" id="from" name="fecha1"/>
	
	<label for="to">Fecha hasta</label>
	<input type="text" id="to" name="fecha2"/>
	
	<input type="submit" />
</form>


<script type="text/javascript">
		$(document).ready(function() {
			var options = {
				chart: {
	                renderTo: 'container',
	                plotBackgroundColor: null,
	                plotBorderWidth: null,
	                plotShadow: false
	            },
	            title: {
	                text: 'Informes por entidades'
	            },
	            tooltip: {
	                formatter: function() {
	                    return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
	                }
	            },
	            plotOptions: {
	                pie: {
	                    allowPointSelect: true,
	                    cursor: 'pointer',
	                    dataLabels: {
	                        enabled: true,
	                        color: '#000000',
	                        connectorColor: '#000000',
	                        formatter: function() {
	                            return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
	                        }
	                    }
	                }
	            },
	            series: [{
	                type: 'pie',
	                name: 'Browser share',
	                data: []
	            }]
	        }
	        
	        $.getJSON("./backend.php?accion=informePorERJSON", function(json) {
			
					
				options.series[0].data = json;
	        	chart = new Highcharts.Chart(options);
	        });
	        
	        
	        
      	});   
		</script>



	<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>


{% endblock %}
