{% extends "backend.twig.html" %}

{% block contenido %}


<form class="formulario" method="post" name="formulario" action="./backend.php?accion=altaDonante">
<ul>
    <p>
         <h2>Alta de Donantes</h2>
    </p>
    <li>
        <label for="razon">*Razón Social:</label>
        <input type="text" id="razon_social" name="razon_social" required/>
    </li>
    <li>
        <label for="nombre">*Nombre:</label>
        <input type="text" id="nombre" name="nombre" required/>
    </li>
    <li>
        <label for="apellido">*Apellido:</label>
        <input type="text" id="apellido" name="apellido" required/>
    </li>
    <li>
        <label for="tel">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" }}"/>
    </li>
	<li>
		<label for="email">Email:</label>
		<input type="email" id="mail" name="mail" />
		<span class="form_hint">Ejemplo "direccion@dominio.com"</span>
	</li>

	<br>

    <button type="submit" name= "boton">Generar Alta</button>
	<button onclick="window.location.href='./backend.php?accion=listarDonantes'">Cancelar</button>
	

</ul>
<div class="obligatorios">*Campos obligatorios</div>


</form>

{% endblock %}
