{% extends "backend.twig.html" %}

{% block contenido %}


<form class="formulario" method="post" name="formulario" action="./backend.php?accion=modificarEntidad&id={{params.id}}">
<ul>
    <p>
         <h2>Modificación de Entidad Receptora</h2>
    </p>
    <li>
        <label for="razon">*Razón Social:</label>
        <input type="text" id="razon_social" name="razon_social" value="{{params.razon_social}}"required/>
    </li>
    <li>
        <label for="telefono">*Teléfono:</label>
        <input type="text" id="telefono" name="telefono" value="{{params.telefono}}"required/>
    </li>
    <li>
        <label for="domicilio">*Domicilio:</label>
        <input type="text" id="domicilio" name="domicilio" value="{{params.domicilio}}"equired/>
    </li>
    <li>
		<div class="formRow">
					<label>Estado de Entidad</label>
					<select id="estadoSelect" name="estado" value="3">
						<option value="1"  > 
							Alta</option>
						<option value="2"  > 
							En trámite</option>
						<option value="3"  > 
							Suspendida</option>
						<option value="4"  > 
							Baja</option>
										</select>	
		</div>
		<span>Valor anterior: {{params.estado}}</span>
    </li>
	<li>
		<div class="formRow">
					<label>Necesidad</label>
					<select id="necesidadSelect" name="necesidad">
						<option value="1"  > 
							Maxima</option>
						<option value="2"  > 
							Mediana</option>
						<option value="3"  > 
							Minima</option>
										</select>	
		</div>
		<span>Valor anterior: {{params.necesidad}}</span>
	</li>
	<li>
		<div class="formRow">
					<label>Servicio Prestado</label>
					<select id="servicioSelect" name="servicio">
					{% for servicio in servicios %}
						<option value="{{ servicio.id }}"  > 
							{{ servicio.descripcion }}</option>
					{% endfor %}
										</select>	
		</div>
		<span>Valor anterior: {{params.servicio}}</span>

	</li>

	<br>
	
    <button type="submit" name= "boton">Modificar</button>
	<button onclick="window.location.href='./backend.php?accion=listarEntidades'">Cancelar</button>

</ul>
<div class="obligatorios">*Campos obligatorios</div>


</form>

{% endblock %}
