{% extends "layoutBackAdmin.twig.html" %}


			
{% block contenido %}

<script>
	function deshabilitar(e){
		if (document.getElementById(e).disabled)
			document.getElementById(e).disabled = false;
		else
			document.getElementById(e).disabled = true;
	}
</script>

    {% if accion=="alta" %}
<form method="post" id="formulario" name="formulario" action="./backend.php?accion=generarPedido">
 	{% elseif accion=="modificar" %}
<form method="post" id="formulario" name="formulario" action="./backend.php?accion=actualizarPedido&amp;id={{pedido.numero}}">
	{% endif %}
<p>
 <fieldset>
  <legend>Información del Pedido</legend>
		<div>
			<label>Entidad Receptora</label>
			<select id="entidadSelect" name="entidad">
				{% for entidad in entidades %}
						<option value="{{ entidad.id }}" {% if pedido.entidad_receptora_id == entidad.id %} selected="selected" {% endif %}> 
							{{ entidad.razon_social }}</option>
				{% endfor %}
			</select>
		</div>
		<div>
			<label>Fecha de Entrega</label>
			<input type="text" id="datepicker" name="fecha" value="{{pedido.fecha}}" required/>
		</div>
		<div>
			<label>Hora</label>
			<input type="text" name="hora" class="number" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}"
				   id="24h" placeholder="HH:MM" title="Ingrese una hora valida" value="{{pedido.hora|date('H:i')}}" required/>
		</div>

	{% if accion=="modificar" %}	
		<div>
			<label>Estado del Pedido</label>
			<select id="estadoSelect" name="estado">
				{% for estado in estados %}
						<option value="{{ pedido.estado_pedido_id }}" {% if pedido.estado_pedido_id == estado.id %} selected="selected" {% endif %}> 
							{{ estado.descripcion }}</option>
				{% endfor %}
			</select>
		</div>
	{% endif %}

 </fieldset>
 <br>
 <fieldset>
 
  <legend>Alimentos disponibles</legend>
    <table class="tablaLoca">
	  {% for detalle in detalles %}
		<tr>
		  <td>
			<input type="checkbox" onchange=deshabilitar({{detalle.id}}) value="{{ detalle.id }}" />{{detalle.descripcion}}
		  </td>
		  <td>	
			{{detalle.contenido}}
		  </td>	
		  <td>	
			<input class="number" type="number" min="1" max="{{detalle.stock}}" name="cantidad[{{detalle.id}}]" id="{{detalle.id}}" value="1" disabled /> 
		  </td>
		</tr>
	  {% endfor %}
    </table>
</fieldset>
<br>
 <fieldset>
  <legend>Opción de Envío</legend>
  Seleccione si quiere el pedido con envío: 
  <input name="con_envio" 
         type="radio" 
         value="1" {%if pedido.con_envio=="1" %} checked {% endif %} />Si
  <input name="con_envio" 
         type="radio" 
         value="0" {%if pedido.con_envio=="0" %} checked {% endif %} />No

 </fieldset>
	<br>
    <button type="submit" name= "boton">{% if accion=="alta" %}Generar Pedido{% elseif accion=="modificar" %}Modificar{% endif %}</button>
	<button type="button" onclick="window.location.href='./backend.php'">Cancelar</button>





</form>

{% endblock %}
