{% extends "backend.twig.html" %}

{% block contenido %}


<form class="formulario" method="post" name="formulario" action="./backend.php?accion=altaEntidad">
    <h2>Alta de Entidad Receptora</h2>
    <div>
        <label>*Razón Social:</label>
        <input type="text" id="razon_social" name="razon_social" required/>
    </div>
    <div>
        <label>*Teléfono:</label>
        <input type="text" id="telefono" name="telefono" required/>
    </div>
    <div>
        <label>*Domicilio:</label>
        <input type="text" id="domicilio" name="domicilio" required/>
    </div>
		<div class="formRow">
					<label>Estado de Entidad</label>
					<select id="estadoSelect" name="estado">
												<option value="1"  > 
							Alta</option>
												<option value="2"  > 
							En trámite</option>
												<option value="3"  > 
							Suspendida</option>
												<option value="4"  > 
							Baja</option>
										</select>	
		</div>

		<div class="formRow">
					<label>Necesidad</label>
					<select id="necesidadSelect" name="necesidad">
												<option value="1"  > 
							Maxima</option>
												<option value="2"  > 
							Mediana</option>
												<option value="3"  > 
							Minima</option>
										</select>	
		</div>

		<div class="formRow">
					<label>Servicio Prestado</label>
					<select id="servicioSelect" name="servicio">
					{% for servicio in servicios %}
						<option value="{{ servicio.id }}"  > 
							{{ servicio.descripcion }}</option>
					{% endfor %}
										</select>	
		</div>

	<br>
	
    <button type="submit" name= "boton">Generar Alta</button>
	<button onclick="window.location.href='./backend.php?accion=listarEntidades'">Cancelar</button>

<div class="obligatorios">*Campos obligatorios</div>


</form>

{% endblock %}
