{% extends "backend.twig.html" %}

{% block contenido %}


<form class="formulario" method="post" name="formulario" action="./backend.php?accion=modificarDonante&amp;id={{params.id}}">
    <h2>Modificación de Donante</h2>
    <div>
        <label>*Razón Social:</label>
        <input type="text" id="razon_social" name="razon_social" value='{{ params.razon_social }}' required/>
    </div>
    <div>
        <label>*Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ params['nombre'] }}" required/>
    </div>
    <div>
        <label>*Apellido:</label>
        <input type="text" id="apellido" name="apellido" value="{{ params['apellido'] }}" required/>
    </div>
    <div>
        <label>Domicilio:</label>
        <input type="text" id="domicilio" name="domicilio" value="{{ params['domicilio'] }}"/>
    </div>
    <div>
        <label>Teléfono:</label>
        <input type="text" id="telefono" name="telefono" value="{{ params['telefono'] }}"/>
    </div>
	<div>
		<label>Email:</label>
		<input type="email" id="mail" name="mail" value="{{ params['mail'] }}" />
		<span class="form_hint">Ejemplo "direccion@dominio.com"</span>
	</div>
	<div>
		<br>
		<button type="submit" name= "boton">Modificar</button>
		<button onclick="window.location.href='./backend.php'">Cancelar</button>

	</div>

<div class="obligatorios">*Campos obligatorios</div>


</form>

{% endblock %}
