{% extends "backend.twig.html" %}

{% block contenido %}


<form class="formulario" method="post" name="formulario" action="./backend.php?accion=altaDonante">
         <h2>Alta de Donantes</h2>
    <div>
        <label>*Razón Social:</label>
        <input type="text" id="razon_social" name="razon_social" required/>
    </div>
    <div>
        <label>*Nombre:</label>
        <input type="text" id="nombre" name="nombre" required/>
    </div>
    <div>
        <label>*Apellido:</label>
        <input type="text" id="apellido" name="apellido" required/>
    </div>
    <div>
        <label>Domicilio:</label>
        <input type="text" id="domicilio" name="domicilio" }}"/>
    </div>
    <div>
        <label>Teléfono:</label>
        <input type="text" id="telefono" name="telefono" }}"/>
    </div>
	<div>
		<label>Email:</label>
		<input type="email" id="mail" name="mail" />
		<span class="form_hint">Ejemplo "direccion@dominio.com"</span>
	</div>

	<br>

    <button type="submit" name= "boton">Generar Alta</button>
	<button onclick="window.location.href='./backend.php?accion=listarDonantes'">Cancelar</button>
	

<div class="obligatorios">*Campos obligatorios</div>


</form>

{% endblock %}
