{% extends "layoutBackAdmin.twig.html" %}

{% block contenido %}

<script>
	function deshabilitar(e){
		if (document.getElementById(e).disabled)
			document.getElementById(e).disabled = false;
		else
			document.getElementById(e).disabled = true;
	}
</script>

<style>
table { text-align:left;
		border:0px;
		width: 100%;
		font-size: 10px;
		}
td { border-top: 1px solid silver}
input.number {width: 50px}
</style>

<form action="./backend.php?accion=generarPedido" method="post" id="formulario">
 <p>
 <fieldset>
  <legend>Información del Pedido</legend>
		<div>
			<label>Entidad Receptora</label>
			<select id="entidadSelect" name="entidad">
				{% for entidad in entidades %}
						<option value="{{ entidad.id }}"> 
							{{ entidad.razon_social }}</option>
				{% endfor %}
			</select>
		</div>
		<div>
			<label>Fecha de Entrega</label>
			<input type="text" id="datepicker" name="fecha" required/>
		</div>
		<div>
			<label>Hora</label>
			<input type="text" name="hora" class="number" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" id="24h"placeholder="HH:MM" title="Ingrese una hora valida" required/>
		</div>


 </fieldset>
 <br>
 <fieldset>
 
  <legend>Alimentos disponibles</legend>
    <table>
	  {% for detalle in detalles %}
		<tr>
		  <td>
			<input type="checkbox" onchange=deshabilitar({{detalle.id}}) value="{{ detalle.id }}" />{{detalle.descripcion}}
		  </td>
		  <td>	
			{{detalle.contenido}}
		  </td>	
		  <td>	
			<input class="number" type="number" min="1" max="{{detalle.stock}}" name="cantidad['{{detalle.id}}']" id="{{detalle.id}}" value="1" disabled /> 
		  </td>
		</tr>
	  {% endfor %}
    </table>
</fieldset>
<br>
 <fieldset>
  <legend>Opción de Envío</legend>
  Seleccione si quiere el pedido con envío: 
  <input name="con_envio" 
         type="radio" 
         value=true />Si
  <input name="con_envio" 
         type="radio" 
         value=false checked />No

 </fieldset>
	<br>
    <button type="submit" name= "boton">{% if accion=="alta" %}Generar Pedido{% elseif accion=="modificar" %}Modificar{% endif %}</button>
	<button onclick="window.location.href='./backend.php'">Cancelar</button>





</form>

{% endblock %}
