{% extends "layoutBackAdmin.twig.html" %}

{% block contenido %}


    {% if accion=="alta" %}
<form class="formulario" method="post" name="formulario" action="./backend.php?accion=altaDonante">
	<h2>Alta de Donante</h2>
	{% elseif accion=="modificar" %}
<form class="formulario" method="post" name="formulario" action="./backend.php?accion=modificarDonante&amp;id={{params.id}}">
	<h2>Modificación de Donante</h2>
	{% endif %}
	    
	<div>
        <label>*Razón Social:</label>
        <input type="text" id="razon_social" name="razon_social" value='{{ params.razon_social }}' required/>
    </div>
    <div>
        <label>*Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ params['nombre_contacto'] }}" required/>
    </div>
    <div>
        <label>*Apellido:</label>
        <input type="text" id="apellido" name="apellido" value="{{ params['apellido_contacto'] }}" required/>
    </div>
    <div>
        <label>Teléfono:</label>
        <input type="text" id="telefono" name="telefono" value="{{ params['telefono_contacto'] }}"/>
    </div>
	<div>
		<label>Email:</label>
		<input type="email" id="mail" name="mail" value="{{ params['mail_contacto'] }}" />
		<span class="form_hint">Ejemplo "direccion@dominio.com"</span>
	</div>
	<div>
		<br>
		<button type="submit" name= "boton">{% if accion=="alta" %}Generar Alta{% elseif accion=="modificar" %}Modificar{% endif %}</button>
		<button onclick="window.location.href='./backend.php?accion=listarDonantes'">Cancelar</button>

	</div>

<div class="obligatorios">*Campos obligatorios</div>


</form>

{% endblock %}
