{% extends "layoutBackUser.twig.html" %}

{% block contenido %}

{% if accion=="alta" %}
	<form class="formulario" method="post" name="formulario" action="./backend.php?accion=altaAlimento">
		<h3>Alta de Alimento</h3>
{% elseif accion=="modificar" %}
	<form class="formulario" method="post" name="formulario" action="./backend.php?accion=modificarAlimento&amp;id={{params.id}}">
		<h3>Modificación de Alimento</h2>
{% endif %}

    <div>
        <label>*Descripción:</label>
        
        
        <input list="descripcionAlimentos" name="descripcion" placeholder="Buscar" value="{{ params.descripcion }}" required/>
		
		<datalist id="descripcionAlimentos">
			
			{% for alimento in alimentos %}
							<option value="{{ alimento.descripcion }}"> 
			{% endfor %}
		</datalist>
        
    </div>
    <div>
        <!-- <textarea name="contenido" cols="40" rows="6">{{ params.contenido }}</textarea> -->
		<input type="text" name="contenido" value="{{ params.contenido }}" required/>
		<label>Contenido:</label>
    </div>
    <div>
         <input type="text" id="from" name="fecha" readonly="readonly" required/>
         <label>*Fecha vencimiento</label>
    </div>
    <div>
        <input type="number" min="0" name="peso" step="any" value="{{ params.peso }}">
        <label>Peso:</label>
    </div>
    
	<div>
        <input type="number" min="0" name="stock" placeholder="0" value="{{ params.stock }}"> 
		<label>Stock</label>
    </div>
    <div>
       
        <input type="number" name="reservado" value="{{ params.reservado }}">
         <label>Reservado:</label>
    </div>
	<div>
        <input type="number" min="1" name="cantidad" placeholder="1" value="{{ params.cantidad }}"> 
		<label>Cantidad</label>
    </div>

		<div class="formRow">
					<label>Donante</label>
					<select id="donanteSelect" name="donante">
						{% for donante in donantes %}
							{% if params.donante == donante.id %}
								<option value="{{ donante.id }}" selected="selected" > 
									{{ donante.razon_social }}</option>
							{% else %}
								<option value="{{ donante.id }}"> 
									{{ donante.razon_social }}</option>
							{% endif %}
						{% endfor %}
					</select>
		</div>


	<br>
	
    <button type="submit" name= "boton">{% if accion=="alta" %}Generar Alta{% elseif accion=="modificar" %}Modificar{% endif %}</button>
	<button type="button" onclick="window.location.href='./backend.php?accion=listarAlimentos'">Cancelar</button>

<div class="obligatorios">*Campos obligatorios</div>


</form>

{% endblock %}
