{% extends "backend.twig.html" %}

{% block contenido %}


<form class="formulario" method="post" name="formulario" action="./backend.php?accion=altaAlimento">
<ul>
    <p>
         <h2>Alta de Donación de Alimento</h2>
    </p>
    <li>
        <label for="razon">*Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" required/>
    </li>
    <li>
        <input type="text" id="fecha" pattern="\d{1,2}/\d{1,2}/\d{4}" title="Ingrese una fecha válida" placeholder="DD/MM/AAAA" required/>
         <label for="fecha">*Fecha de vencimiento</label>
    </li>
    <li>
        <textarea id="contenido" cols="40" rows="6" > </textarea>
		<label for="contenido">Contenido:</label>
    </li>
    <li>
        <input type="number" min="0" id="peso">
        <label for="peso">Peso:</label>
    </li>
    
	<li>
        <input type="number" min="0" id="stock" placeholder="0"> 
		<label for="stock">Stock</label>
    </li>
    <li>
       
        <input type="text" id="reservado" required/>
         <label for="reservado">Reservado:</label>
    </li>
	<li>
		<div class="formRow">
					<label>Donante</label>
					<select id="donanteSelect" name="donante">
						{% for donante in donantes %}
							<option value="{{ donante.id }}"  > 
								{{ donante.razon_social }}</option>
						{% endfor %}
					</select>	
		</div>
	</li>

	<br>
	
    <button type="submit" name= "boton">Generar Alta</button>
	<button onclick="window.location.href='./backend.php?accion=listarAlimentos'">Cancelar</button>

</ul>
<div class="obligatorios">*Campos obligatorios</div>


</form>

{% endblock %}
