{% extends "layoutBackAdmin.twig.html" %}

{% block contenido %}

<script>
	function deshabilitar(){
		alert("hola mundo");
	    if ( document.getElementById(input#e) {
			document.getElementById(input#e).disabled = false;
		} else {
			document.getElementById(input#e).disabled = true;
		}
	}
</script>

<form action="./backend.php?accion=generarPedido" method="post">
 <p>
 <fieldset>
  <legend>Información del Pedido</legend>
		<div class="formRow">
			<label>Entidad Receptora</label>
			<select id="entidadSelect" name="entidad">
				{% for entidad in entidades %}
						<option value="{{ entidad.id }}"> 
							{{ entidad.razon_social }}</option>
				{% endfor %}
			</select>
		</div>
		<div>
			<label>Fecha de Entrega</label>
			<input type="text" id="datepicker" name="fecha" required/>
		</div>

 </fieldset>
 <fieldset>
  <legend>Alimentos disponibles</legend>
	<dl>
	  {% for detalle in detalles %}
		<dt>
			<input type="checkbox" onclick=deshabilitar() value="{{ detalle.id }}" />{{detalle.descripcion}} | {{detalle.contenido}}
		</dt>
		<dd>
			<input type="number" min="0" max="{{detalle.stock}}" name="cantidad['{{detalle.id}}']" id="{{detalle.id}}" value="0" disabled /> 
		</dd>
	  {% endfor %}
	</dl>
  </fieldset>
 <fieldset>
  <legend>Opción de Envío</legend>
  Seleccione si quiere el pedido con envío: 
  <input name="con_envio" 
         type="radio" 
         value="1" tabindex="35" />Si
  <input name="con_envio" 
         type="radio" 
         value="0" tabindex="35" checked />No

 </fieldset>
	
    <button type="submit" name= "boton">{% if accion=="alta" %}Generar Pedido{% elseif accion=="modificar" %}Modificar{% endif %}</button>
	<button onclick="window.location.href='./backend.php'">Cancelar</button>


<div class="obligatorios">*Campos obligatorios</div>


</form>

{% endblock %}
