{% extends "layoutBackUser.twig.html" %}

{% block contenido %}

{% if (informe == '0' or informe == '1') %}
	{% if (informe == '0') %}

		<script src="./js/torta.js"></script>

		<h4>Seleccione el rango de fechas para obtener el informe por Entidad Receptora</h4>

	{% endif %}

	{% if (informe == '1') %}


		<h4>Seleccione el rango de fechas para obtener el informe por fecha</h4>
		<script src="./js/barra.js"></script>
	{% endif %}


	<label for="from">Fecha desde:</label>
	<input type="text" id="from" name="fecha1" onblur="plotear()" readonly="readonly" required/>
		
	<label for="to">Fecha hasta</label>
	<input type="text" id="to" name="fecha2" onblur="plotear()" readonly="readonly" required/>

	<input type="button" value="Dibujar" onClick="plotear()"> 
	<hr>
		<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

{% endif %}

{% if (informe == '3') %}
	<h4>Alimentos vencidos sin entregar</h4>

	{% if alimentos|length>0 %}
	
	<table>

			<tbody>
				<tr class="encabezado">
				
					<th>Descripcion</th>
					<th>Stock</th>
				</tr>
			{% for alimento in alimentos %}
				<tr>
					
						<td>{{ alimento.descripcion }}</td>
						<td>{{ alimento.stock }}</td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	{% else %}
						<h4>
							No hay alimentos vencidos sin entregar.
						</h4>

	{% endif %}


{% endif %}




{% endblock %}
