{% extends "backend.twig.html" %}

{% block contenido %}


<form class="formulario" method="post" name="formulario" action="./backend.php?accion=altaAlimento">
     <h2>Alta de Donación de Alimento</h2>
    <div>
        <label>*Descripción:</label>
        
        
        <input list="descripcionAlimentos" name="descripcion" placeholder="Buscar" required/>
		
		<datalist id="descripcionAlimentos">
			
			{% for alimento in alimentos %}
							<option value="{{ alimento.descripcion }}"> 
			{% endfor %}
		</datalist>
        
    </div>
    <div>
        
        <input type="text" id="datepicker" name="fecha" required/>
       <!-- <input type="text" name="fecha" pattern="\d{1,2}/\d{1,2}/\d{4}" title="Ingrese una fecha válida" placeholder="DD/MM/AAAA" required/> -->
         <label>*Fecha de vencimiento</label>
    </div>
    <div>
        <textarea name="contenido" cols="40" rows="6" > </textarea>
		<label>Contenido:</label>
    </div>
    <div>
        <input type="number" min="0" name="peso">
        <label>Peso:</label>
    </div>
    
	<div>
        <input type="number" min="0" name="stock" placeholder="0"> 
		<label>Stock</label>
    </div>
    <div>
       
        <input type="number" name="reservado">
         <label>Reservado:</label>
    </div>
	<div>
        <input type="number" min="1" name="cantidad" placeholder="1"> 
		<label>Cantidad</label>
    </div>

		<div class="formRow">
					<label>Donante</label>
					<select id="donanteSelect" name="donante">
						{% for donante in donantes %}
							<option value="{{ donante.id }}"  > 
								{{ donante.razon_social }}</option>
						{% endfor %}
					</select>	
		</div>


	<br>
	
    <button type="submit" name= "boton">Generar Alta</button>
	<button onclick="window.location.href='./backend.php?accion=listarAlimentos'">Cancelar</button>

<div class="obligatorios">*Campos obligatorios</div>


</form>

{% endblock %}
