{% extends "layoutBack.twig.html" %}

{% block botonera %}
							<li><a href="./backend.php">Home</a></li>
							<li><a href="./backend.php?accion=listarDonantes">Donantes</a></li>
							<li><a href="./backend.php?accion=listarEntidades">Entidades Receptoras</a></li>
							<li><a href="./backend.php?accion=listarAlimentos">Alimentos</a></li>
							<li><a class="has-sub">Pedidos</a>
								<ul>
									<li><a href="./backend.php?accion=generarPedido">Generar Pedido</a></li>
									<li><a href="./backend.php?accion=mostrarAgenda">Agenda de Turnos</a></li>
								</ul>
							</li>
							<li><a class="has-sub">Entregas Directas</a>
								<ul>
									<li><a href="./backend.php?accion=generarEntrega">Generar Entrega</a></li>
									<li><a href="./backend.php?accion=verEntregasPasadas">Ver Entregas Realizadas</a></li>
								</ul>
							</li>
							<li><a class="has-sub">Mas</a>
								<ul>
								<li><a href="./backend.php?accion=modificarConfiguracion">Configuración</a></li>
								<li><a href="./backend.php?accion=users">Usuarios</a></li>
								<li><a href="../app/logout.php">Logout</a></li>
								</ul>
							</li>
							
{% endblock %}

