<!DOCTYPE html> 
<html lang="es"> 
<head>
    <title>{% block title %}Banco Alimentario La Plata{% endblock %}</title>
	<meta charset="utf8" />
	<!-- <link href="css/estilos.css" rel="stylesheet" /> -->
 <link rel="stylesheet" media="(min-width: 481px)" href="./css/maqueta.css" type="text/css">
 <link rel="stylesheet" media="(min-width: 481px)" href="./css/botonera.css" type="text/css"/>
 <link rel="stylesheet" media="(max-width: 480px)" href="./css/maquetaMobile.css" />
 <link rel="stylesheet" media="(max-width: 480px)" href="./css/botoneraMobile.css" />
 <link rel="stylesheet" media="(max-width: 480px)" href="./css/formMobile.css" />
 <link rel="stylesheet" href="./css/form.css" type="text/css"//>
 <link rel="stylesheet" href="./css/login.css" type="text/css"/>
 <link rel="stylesheet" href="./css/listado.css" type="text/css"/> 
 
 
</head>
  
<body>
  
 	<div id="global">

		<div id="cabecera">
	 
			<img src="./img/logo.jpg" alt="logo de la fundacion" />
 
		</div>
		<div id="navegacion">
			
			<div id = "menu">
						<ul id="boton"> 
						{% block botonera %}
						{% endblock %}
		<!-- desde acá se preguntaria por el usuario, o se hace un case o se mapea -->
							
		<!-- hasta acá -->
						</ul>
			</div>
		</div>


		<div id="principal"> 
		<!-- Contenido dinámico a mostrar -->
		
		<div>
				<br>
				<p>Bienvenido {{usuario}}. Aqui encontrará las opciones disponibles.</p>
				<hr>
			
		</div>
		
			<div>
				{% block contenido %}
				{% endblock %}
			</div>
		</div>

	</div>
	
		<footer>
		Banco Alimentario La Plata | Seguinos en: <a href="https://www.facebook.com/pages/Banco-Alimentario-La-Plata/87991129502">Facebook</a> y <a href="https://twitter.com/bancoalimlp">Twitter.</a>
		</footer>

	</body>
</html>
