<!DOCTYPE html>
<html lang="es"> 
<head>
    <title>{% block title %}Banco Alimentario La Plata{% endblock %}</title>
	<meta charset="utf8" />
	<!-- <link href="css/estilos.css" rel="stylesheet" /> -->
 <link rel="stylesheet" media="(min-width: 481px)" href="./css/maqueta.css" type="text/css">
 <link rel="stylesheet" media="(max-width: 480px)" href="./css/maquetaMobile.css" />
 <link rel="stylesheet" href="./css/login.css" type="text/css"/>
 <link rel="stylesheet" href="./css/listado.css" type="text/css"/> 
 <link rel="stylesheet" href="./css/responsive.css" type="text/css"/>
 <link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css" />
 
 <script src="./js/mensaje.js"></script>
 <script src="./js/jquery-1.9.1.js"></script>
 
 
 
 
 <style type="text/css">
#message_box{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	background: #ffc;
	padding: 5px;
	border: 1px solid #CCCCCC;
	text-align: center;
	width: 100%;
	font-weight: bold;
	font: 12px "Arial";
}
</style>
 
<script type='text/javascript'>
    // Para cerrar el modal del login cuando se presione la tecla escape
    $(document).keyup(function(event){
        if(event.which==27)
        {
            location.href = "#close";
        }
    });
</script> 
 
 
 
 
 
 
</head>
<body onload="setupMessageBox()">
    <!-- si tiene mensajes -->
	{% if (mensaje) %} <div id="message_box">{{ mensaje }}</div>{% endif %}
	
	
	<div id="global">

		<div id="cabecera">
		 
			<img src="./img/logo.jpg" alt="logo de la fundacion" />
	 
		</div>

		<div id="navegacion">

			<ul class="egmenu">
				<li><a href="./index.php">Home</a></li>
				<li><a href="./index.php?accion=quienesSomos">Quienes Somos</a></li>
				<li><a href="./index.php?accion=listarDonantes">Donantes</a></li>
				<li><a href="./index.php?accion=listarEntidades">Entidades Receptoras</a></li>
				<li><a href="./index.php?accion=contacto">Contacto</a></li>
				<li><a href="#login">Login</a></li>
			</ul>
		</div>

		 <div id="principal"> 
		 
			<!-- Contenido dinamico a mostrar -->
			<div>
			  <br>
			  
			  {% block contenido %}
			  {% endblock %}
			</div>
		</div>
				
	</div>


	<div id="login" class="modalDialog">
		<div>
			<a href="#close" title="Close" class="close">X</a>
			
			
			<h3>Login</h3>
			<p>Inicie sesión para continuar.</p>
			
			<form class="log"  method="post" name="formulario" id="formulario" action='./../app/login.php'>
				<div>
					<input type="text" name="usuario" id="usuario" placeholder="Usuario" autofocus required/>
				</div>
				<div>
					<input type="password" name="pass" placeholder="Contraseña" required/>
				</div>
				<div>
					<button type="submit" name= "boton" class="button">Iniciar sesión</button>
				</div>
				
			</form>
		</div>
	</div>
	

	<footer>
	Banco Alimentario La Plata | Seguinos en: <a href="https://www.facebook.com/pages/Banco-Alimentario-La-Plata/87991129502">Facebook</a> y <a href="https://twitter.com/bancoalimlp">Twitter.</a>
	</footer>
</body>
</html>
