{% extends "layoutBack.twig.html" %}

{% block botonera %}
							<li><a href="./backend.php">Home</a></li>
							<li><a href="./backend.php?accion=listarDonantes">Donantes</a></li>
							<li><a href="./backend.php?accion=listarEntidades">Entidades Receptoras</a></li>
							<li><a href="./backend.php?accion=listarAlimentos">Alimentos</a></li>
							<li><a href="./backend.php?accion=generarPedido">Generar Pedido</a></li>
							<li><a href="./backend.php?accion=generarEntrega">Generar Entrega Directa</a></li>
							
							<li><a href="#" class="has-sub">Mas</a>
								<ul>
								<li><a href="#">Configuración</a></li>
								<li><a href="./backend.php?accion=users">Usuarios</a></li>
								<li><a href="../app/logout.php">Logout</a></li>
								</ul>
							</li>
							
{% endblock %}

