<!DOCTYPE html> 
<html lang="es"> 
<head>
    <title>{% block title %}Banco Alimentario La Plata{% endblock %}</title>
	<meta charset="UTF-8" />
	
 <link rel="stylesheet" media="(min-width: 481px)" href="./css/maqueta.css" type="text/css">
 <link rel="stylesheet" media="(max-width: 480px)" href="./css/maquetaMobile.css" />
 <link rel="stylesheet" href="./css/responsive.css" type="text/css"/>
 <link rel="stylesheet" href="./css/form.css" type="text/css"/>
 <link rel="stylesheet" href="./css/login.css" type="text/css"/>
 <link rel="stylesheet" href="./css/listado.css" type="text/css"/>
 <link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css"/>
 
 <link rel="stylesheet" href="./css/jquery-ui.css"/>
 <script src="./js/jquery-1.9.1.js"></script>
 <script src="./js/jquery-ui.js"></script>
 <script src="./js/jquery.ui.datepicker-es.js"></script>
 <script src="./js/mensaje.js"></script>
 <script src="./js/OpenLayers.js"></script>
 <script src="./js/mapa.js"></script>
 <!-- <script src="http://www.openlayers.org/api/OpenLayers.js"></script> -->
 <script>
$(function () {
$.datepicker.setDefaults($.datepicker.regional["es"]);
$("#datepicker").datepicker({
//firstDay: 1
});
});
</script>



<!-- pongo este estilo acá porque el maldito servidor de la cátedra, si lo pongo en maqueta.css no le gusta -->
<style type="text/css">
#message_box{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	background: #ffc;
	padding: 5px;
	border: 1px solid #CCCCCC;
	text-align: center;
	width: 100%;
	font-weight: bold;
	font: 12px "Arial";
}
</style>


 
</head>
  
<body onload="setupMessageBox()">
  
	<!-- si tiene mensajes -->
	{% if (mensaje) %} <div id="message_box">{{ mensaje }}</div>{% endif %}
  
 	<div id="global">

		<div id="cabecera">
	 
			<img src="./img/logo.jpg" alt="logo de la fundacion" />
 
		</div>
		<div id="navegacion">
			
			<ul class="egmenu">
						{% block botonera %}
						{% endblock %}
		<!-- desde acá se preguntaria por el usuario, o se hace un case o se mapea -->
							
		<!-- hasta acá -->
			</ul>
			
		</div>


		<div id="principal"> 
		<!-- Contenido dinámico a mostrar -->
		
		<div>
				<p>Bienvenido {{usuario.user}}. Aqui encontrará las opciones disponibles.</p>
				<hr>
			
		</div>
		
			<div>
				{% block contenido %}
				{% endblock %}
			</div>
		{% if (inicio == 1) %}
			<div>
			{% if params|length>0 %}
						<h3>
							Pedidos pendientes:
						</h3>
		<!-- numero 	entidad_receptora_id 	fecha_ingreso 	estado_pedido_id 	turno_entrega_id 	con_envio 	id 	fecha 	hora 	razon_social descripcion -->
						
						<table>
							<tbody>
								<tr class="encabezado">
									<th>Nº</th>
									<th>Razón Social</th>
									<th>Estado del Pedido</th>
									<th>Fecha de Entrega</th>
									<th>Envío</th>
									
								</tr>
							{% for pedido in params %}
								{% if date(pedido.hora) < date() %}
									<tr class="danger">
								{% else %}
									<tr class="warning">
								{% endif %}
										<td>{{ pedido.numero }}</td>
										<td>{{ pedido.razon_social }}</td>
										<td>{{ pedido.descripcion }}</td>
										<td>{{ pedido.fecha|date('d-m-Y') }} {{ pedido.hora|date('H:i') }}</td>
										<td>{% if pedido.con_envio %} Si {% else %} No {% endif %}</td>
									</tr>
							{% endfor %}
							</tbody>
						</table>
						
			{% else %}
						<h3>
							No hay pedidos pendientes para hoy.
						</h3>

			{% endif %}

			</div>
		{% endif %}
			
		</div>

	</div>
	
		<footer>
			Banco Alimentario La Plata | Seguinos en: <a href="https://www.facebook.com/pages/Banco-Alimentario-La-Plata/87991129502">Facebook</a> y <a href="https://twitter.com/bancoalimlp">Twitter.</a>
		</footer>

	</body>
</html>
