{% extends "layoutBack.twig.html" %}

{% block title %}
	Banco de Alimentos - La Plata
{% endblock %}

{% block botonera %}

							<li><a href="./backend.php">Home</a></li>
							<li><a href="./backend.php?accion=listarDonantes">Donantes</a></li>
							<li><a href="./backend.php?accion=listarEntidades">Entidades Receptoras</a></li>
							<li><a href="./backend.php?accion=listarAlimentos">Listar Alimentos</a></li>
							<li><a href="#login">Logout</a></li>

{% endblock %}


{% block contenido %}

	
	
	
	
{% endblock %}
