{% extends "layoutBackUser.twig.html" %}
				
{% block contenido %}
			{% if pedidos|length>0 %}
						<h3>
							Todos los pedidos:
						</h3>
		<!-- numero 	entidad_receptora_id 	fecha_ingreso 	estado_pedido_id 	turno_entrega_id 	con_envio 	id 	fecha 	hora 	razon_social descripcion -->
						
						<table>
							<tbody>
								<tr class="encabezado">
									<th>Nº</th>
									<th>Razón Social</th>
									<th>Estado del Pedido</th>
									<th>Fecha de Entrega</th>
									<th>Envío</th>
									
								</tr>
							{% for pedido in pedidos %}
									<tr>
										<td style="font-weight:bold"><a href="./backend.php?accion=actualizarPedido&amp;nro={{pedido.numero}}">{{ pedido.numero }}</a></td>
										<td>{{ pedido.razon_social }}</td>
										<td>{{ pedido.descripcion }}</td>
										<td>{{ pedido.fecha|date('d-m-Y') }} {{ pedido.hora|date('H:i') }}</td>
										<td>{% if pedido.con_envio %} Si {% else %} No {% endif %}</td>
									</tr>
							{% endfor %}
							</tbody>
						</table>
						
			{% else %}
						<h3>
							Nunca se hicieron pedidos.
						</h3>

			{% endif %}
			
{% endblock %}