<!DOCTYPE html>
<html lang="es">  
    <head>  
	<meta charset="utf-8"> 
        <title>Banco de alimentos La Plata - Backend</title>  
        <link rel="stylesheet" media="(min-width: 481px)" href="./estilos/maqueta.css" type="text/css">
		<link rel="stylesheet" media="(min-width: 481px)" href="./estilos/botonera.css" type="text/css"/>
		<link rel="stylesheet" media="(max-width: 480px)" href="./estilos/maquetaMobile.css" />
		<link rel="stylesheet" media="(max-width: 480px)" href="./estilos/botoneraMobile.css" />
		 <link rel="stylesheet" href="./estilos/listado.css" type="text/css"/> 

        
        
        
    </head>  
    <body>  
			<div id ="global"> 
			<img src="./img/logo.jpg" alt="logo de la fundacion" /> <br>
				 <a href="logout.php" id=log class="boton">Logout</a>
            <div id ="cabecera">
				<h3>Panel de control</h3></div>  
            <div id ="menu"><p>Bienvenido <?php echo $_SESSION['usuario'];?> usted ha iniciado con los derechos de <?php echo $_SESSION['rol'];?>
            </p></div>

			<div id ="navegacion">
				<ul id="boton"> 
					<li><a href="./altaDonantes.php">Alta de Donantes</a></li>
					<li><a href="./altaEntidadesReceptoras.php">Alta de Entidades receptoras</a></li>
					<li><a href="./altaAlimentos.html">Alta de alimentos</a></li> <!-- No está implementado -->
					<li><a href="">ABM de turnos de entrega</a></li>
					<li><a href="">ABM de Servicios prestados</a></li>
					<li><a href="">Confección y entrega de pedidos</a></li>
					<li><a href="">Consulta de stock de alimentos</a></li>
					<li><a href="./controlador.php?action=listar">Listado de alimentos</a></li>
			
				</ul>
			
			
			<!-- <footer>Usuario registrado</footer> -->
			
			</div>

            <div id ="principal">
				
				<table class="reference" style="width:100%">
		<tbody>
			</br>
			<tr>
				<th>Descripción</th>
				<th>Fec. de Venc.</th>
				<th>Contenido</th>
				<th>Peso</th>
				<th>Stock</th>
				<th>Reservado</th>
			</tr>

		{% for alimento in alimentos %}
			<tr>
			       	<td>{{ alimento.descripcion }}</td>
		        	<td>{{ alimento.fecha_vencimiento }}</td>
		        	<td>{{ alimento.contenido }}</td>
		        	<td>{{ alimento.peso_paquete }}</td>
		        	<td>{{ alimento.stock }}</td>
		        	<td>{{ alimento.reservado }}</td>
		        	<td> <a href="./modAlimentos.php?
									 p1={{alimento.id}}
									&p2={{alimento.descripcion}}
									&p3={{alimento.fecha_vencimiento}}
									&p4={{alimento.contenido}}
									&p5={{alimento.peso_paquete}}
									&p6={{alimento.stock}}
									&p7={{alimento.reservado}}"><img src="./img/lapiz.jpg"></a></a></td>
		        	<td> <a href="./controlador.php?action=eliminarAlimento&p1={{alimento.id}}"><img src="./img/cruz.png"></a></td>
			</tr>
			
		{% endfor %}

		</tbody>
</table>
            </div>
			
            <!-- Pie de página -->
            <div id ="pie">
			
			<script> type="text/javascript">
				var d = new Date();
				document.write(d.getDate()+'/');document.write(d.getMonth()+'/')/document.write(d.getFullYear());
			</script> 
			</div>  
        </div>  
        
        
        
        
        
        
    </body>  
</html>  

