<html>  

    <head>  
	<meta charset="utf-8"> 
        <title>Listado de Alimentos</title>  
        <link rel="stylesheet" href="./estilos/index.css" type="text/css"/>  
        <link rel="stylesheet" href="./estilos/listado.css" type="text/css"/>  
    </head> 
    <body>  
            <div id ="cabecera">
				<img src="./img/logo.jpg" alt="logo de la fundacion" />
            </div>  
            <div id ="izquierda">
				<a href="./index.html">Log Out</a><br>
				<a href="./altaAlimentos.html" ><img src="./img/mas.png"></a>
            </div>  
            <div id ="derecha">

<table class="reference" style="width:100%">
		<tbody>
			<tr>
				<th>Descripción</th>
				<th>Fec. de Venc.</th>
				<th>Contenido</th>
				<th>Peso</th>
				<th>Stock</th>
				<th>Reservado</th>
			</tr>

		{% for alimento in alimentos %}
			<tr>
			       	<td>{{ alimento.descripcion }}</td>
		        	<td>{{ alimento.fecha_vencimiento }}</td>
		        	<td>{{ alimento.contenido }}</td>
		        	<td>{{ alimento.peso_paquete }}</td>
		        	<td>{{ alimento.stock }}</td>
		        	<td>{{ alimento.reservado }}</td>
		        	<td> <a href="./modAlimentos.php?codigo={{alimento.codigo}}"><img src="./img/lapiz.jpg"></a></a></td>
		        	<td> <a href="./controlador.php?action=eliminarAlimento&parametro1={{alimento.id}}"><img src="./img/cruz.png"></a></td>
			</tr>
			
		{% endfor %}

		</tbody>
</table>

</body>
</html>
