<!DOCTYPE html>
<html lang="es">

<head>
 <meta charset="utf-8" />
 <link rel="stylesheet" media="(min-width: 481px)" href="./estilos/maqueta.css" type="text/css">
 <link rel="stylesheet" media="(max-width: 480px)" href="./estilos/maquetaMobile.css" />
 <link rel="stylesheet" href="./estilos/login.css" type="text/css"/>
 <link rel="stylesheet" href="./estilos/listado.css" type="text/css"/> 
 
<title>Sistema Online del Banco Alimentario La Plata</title>
</head>

<body>  
	<div id="global">
	
            <div id ="cabecera">
				<img src="./img/logo.jpg" alt="logo de la fundacion" />
            </div>  
            <div id ="izquierda">
				<a href="./index.html">Log Out</a><br>
				<a href="./altaAlimentos.html" ><img src="./img/mas.png"></a>
            </div>  
            <div id ="derecha">
<div id="principal">
<table class="reference" style="width:100%">
		<tbody>
			<tr>
				<th>Descripción</th>
				<th>Fec. de Venc.</th>
				<th>Contenido</th>
				<th>Peso</th>
				<th>Stock</th>
				<th>Reservado</th>
			</tr>

		{% for alimento in alimentos %}
			<tr>
			       	<td>{{ alimento.descripcion }}</td>
		        	<td>{{ alimento.fecha_vencimiento }}</td>
		        	<td>{{ alimento.contenido }}</td>
		        	<td>{{ alimento.peso_paquete }}</td>
		        	<td>{{ alimento.stock }}</td>
		        	<td>{{ alimento.reservado }}</td>
		        	<td> <a href="./modAlimentos.php?
									 p1={{alimento.id}}
									&p2={{alimento.descripcion}}
									&p3={{alimento.fecha_vencimiento}}
									&p4={{alimento.contenido}}
									&p5={{alimento.peso_paquete}}
									&p6={{alimento.stock}}
									&p7={{alimento.reservado}}"><img src="./img/lapiz.jpg"></a></a></td>
		        	<td> <a href="./controlador.php?action=eliminarAlimento&p1={{alimento.id}}"><img src="./img/cruz.png"></a></td>
			</tr>
			
		{% endfor %}

		</tbody>
</table>
</div>
</div>
</body>
</html>
